@model IEnumerable<SistemaToque.Models.ToqueModel>

@{
    ViewBag.Title = "Toques";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Toque</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link href="~/dist/css/personalizado.css" rel="stylesheet" />

    <style>
        .btn-style {
            width: 33px;
            margin: 2px
        }
    </style>

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Toques" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Toque" class="nav-link">Add um novo toque</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Botão para expandir a tela -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <!-- Botão para logout -->
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">
                        <i class="fa fa-sign-out-alt"></i>
                        @Html.ActionLink("Sair", "Logout", "Home")
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-3">
            <!-- Brand Logo -->
            <a href="~/Home/Toques" class="brand-link">
                <img src="~/dist/img/logo.png" alt="Sistema de Toque" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Sistema de Toque</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/user.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Supervisor</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="~/Home/Toques" class="nav-link active">
                                <i class="nav-icon fas fa-music"></i>
                                <p>
                                    Toques
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Home/Toque" class="nav-link">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>
                                    Add um novo toque
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fa fa-power-off">@Html.ActionLink("Sair", "Logout", "Home", new { @class = "nav-icon" })</i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 txt-white">Toques</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="~/Home/Toques">Home</a></li>
                                <li class="breadcrumb-item active">Toques</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div>
                        <a href="@Url.Action("RedirectCadastro", "Home")" class="btn btn-success btn-block">
                            <i class="fa fa-plus"></i> <b> &nbsp; Adicionar um novo toque</b>
                        </a>
                        @if (ViewBag.ativo)
                        {
                            @Html.ActionLink("Parar todos os toques", "PararToques", "Home", null, new { @type = "button", @class = "btn btn-danger btn-block", @style = "font-weight: bold;" })
                        }
                        else
                        {
                            @Html.ActionLink("Reiniciar todos os toques", "PararToques", "Home", null, new { @type = "button", @class = "btn btn-info btn-block", @style = "font-weight: bold;" })
                        }
                    </div>
                </div>
            </div>

            <br>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title"><b>Toques ativos</b></h5>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <tr>
                                            <th align="center">
                                                Descrição
                                            </th>
                                            <th align="center">
                                                @Html.DisplayNameFor(model => model.Hora)
                                            </th>
                                            <th align="center">
                                                @Html.DisplayNameFor(model => model.DiaSemana)
                                            </th>
                                            <th align="center">
                                                @Html.DisplayNameFor(model => model.TxEnsino)
                                            </th>
                                            <th align="center">
                                                Último Toque
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.Hora)
                                                </td>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.DiaSemana)
                                                </td>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.TxEnsino)
                                                </td>
                                                <td align="center">
                                                    @Html.DisplayFor(modelItem => item.UltimoToque)
                                                </td>
                                                <td align="center">
                                                    <div class="row" align="center">
                                                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                                                            <a href="@Url.Action("EditarToque", "Home", new { arquivo = item.Arquivo })" class="btn btn-success btn-sm btn-style" title="Editar toque" alt="Editar toque">
                                                                <i class="fa fa-pencil-alt"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                            <a href="@Url.Action("Detalhes", "Home", new { arquivo = item.Arquivo })" class="btn btn-info btn-sm btn-style" title="Detalhes do toque" alt="Detalhes do toque">
                                                                <i class="fas fa-info"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                                            <a href="@Url.Action("DeleteToque", "Home", new { arquivo = item.Arquivo })" class="btn btn-danger btn-sm btn-style" title="Excluir toque" alt="Excluir toque">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    </table>
                                    <!-- /.modal -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 1972 - 2021 <a href="https://ceinet.com.br">CEI</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 09.03.21 - AM - 1.0
            </div>
        </footer>
        <!-- /.Main Footer -->

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- PAGE ~/plugins -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard2.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "order": [[3, "desc"]]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "order": [[2, "desc"]],
            });
        });
    </script>

</body>
</html>